@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@300;400;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Jost: 'Jost', Arial, Helvetica, sans-serif;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--Jost);
    background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

.container{
    width: 400px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.todo-container{
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
}

.container h1{
    padding-block: 30px;
    color: #1d5392;
    letter-spacing: 4px;
}

.container span{
    color: white;
    margin-left: -25px;
}

.TodoForm{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.submit-btn{
    background-color: rgb(0, 0, 0);
    border: none;
}

.plus-icon{
    max-width: 100%;
    cursor: pointer;
}

.submit-btn:hover{
    opacity: 0.7;
}

.input{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    font-family: var(--Jost);
    margin-bottom: 20px;
}

.Todo{
    display: flex;
    padding: 10px;
    gap: 5px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 10px;
}

.Todo p{
    color: #1d5392;
    font-size: 1.3rem;
}

.deleteTodo{
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.trash-icon{
    width: 15px;
}

.trash-icon:hover{
    opacity: 0.7;
}

.todo-buttons{
    display: flex;
    gap: 10px;
    align-items: center;
}

.checkbox{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    opacity: 0.7;
}

.visible{
    color: red;
}

.hidden{
    display: none;
}


@media screen and (max-width: 480px) {
    .container{
        width: 250px;
    }

    .container h1{
        font-size: 25px;
    }

    .Todo{
        padding: 5px;
    }

    .Todo p{
        color: #1d5392;
        font-size: 1.1rem;
    }

    .trash-icon{
        width: 15px;
    }

    .checkbox{
        width: 15px;
    }
}





